.h4,
.h4,
h4 {
    font-size: 1.4rem;
    color: #50beaf;
    margin-bottom: 35px;
}

.title-padding {
    padding: 5rem 0 !important;
}

.content {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1.75;
}

.content-img img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.tab-title {
    margin-top: 50px;
}

.bg-blue {
    background-color: #6987B9;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.bg-blue .row {
    max-width: 960px;
    margin: 30px auto;
    position: relative;
}

.bg-white {
    background-color: #fff;
}

.bg-gray {
    background-color: #F0F0F0;
}

.bg-gray02 {
    background-color: #C5C5C5;
}

.bg-yellow {
    background-color: #FCBA17;
}

.point-align {
    text-align: right;
}

.point-img {
    margin-bottom: -24px;
    display: inline-block;
    font-size: 1.4rem;
}

.divi-content {
    padding: 20px 12px;
}

.content-small span {
    font-size: 10px;
    vertical-align: top;
}

.dyna-box {
    width: 100px;
    padding: 8px 0;
    margin: 0 auto;
    margin-bottom: 10px;
}

.divi-title {
    line-height: 1.5;
    margin-bottom: 0;
}

.divi-title01 {
    line-height: 130px;
}

.btnMore {
    display: inline-block;
    padding: .8rem 4rem;
    background-color: #50beaf;
    border-radius: 100px;
    color: white;
    margin: 40px auto 20px;
    cursor: pointer;
}

.btnMore:hover {
    background-color: #6987B9;
    color: white;
}

ul.itemStyle1 li {
    color: #6987B9;
    font-size: 1.1rem;
    margin-top: 40px;
    list-style-image: url(../images/add_icon4_sm.png);
}

.videoBox {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: none;
}

.videoBox.active {
    display: block;
}

.videoBox::before {
    content: "";
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.btnClose {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    display: block;
    z-index: 1;
    cursor: pointer;
}

.videoContain {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; 
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1040px) {
    .divi-title01 {
        line-height: 120px;
    }

    .divi-title02 {
        min-height: 160px
    }

    .ft-tab {
        font-size: 1.1rem !important;
    }
}

@media only screen and (max-width: 1030px) {
    .divi-none01 {
        padding: 0 14px 0 9px;
    }
}

.divi-border {
    border-left: 1px solid #DCDCDC;
}

.divi-pad {
    padding: 0;
}

.divi-height {
    min-height: 88px;
}

.divi-box {
    width: 80px;
    text-align: center;
    padding: 6px 12px;
    margin-bottom: 10px;
}

.fund-padding {
    padding: 1.5rem;
}

.fund-margin {
    margin-bottom: 1rem;
}

.fund-img img {
    max-width: 80px;
}

.fund-table {
    margin: 0.6rem 0;
}

.fund-table::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    max-width: 450px;
    width: 100%;
    height: 228px;
    background-image: url(../images/table_line_TL.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
    background-position-y: top;
    z-index: 1;
    pointer-events: none;
}

.fund-table::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -10px;
    max-width: 450px;
    width: 100%;
    height: 228px;
    background-image: url(../images/table_line_BR.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
    z-index: 1;
    pointer-events: none;
}

.fund-content {
    padding: 6px;
}

.fund-link {
    text-align: center;
    margin-top: 1.3rem;
}

.fund-link a {
    color: #000;
}

.fund-link a:hover {
    color: #fff !important;
}

.fund-link-margin {
    padding: 0;
}

.fund-link-margin p {
    margin-top: 5px;
    line-height: 22px;
}

.img-68 {
    margin: auto;
    text-align: center;
}

.img-68 img {
    width: 100%;
    max-width: 480px;
}

.secondAdvantage {
    height: 95px;
}

br.breakEnable_768 {
    display: none;
}

@media only screen and (max-width: 991px) {
    .point-align {
        text-align: center;
    }

    .divi-none01 {
        display: none;
    }

    .divi-border {
        border-left: 0;
    }

    .divi-title02 {
        min-height: auto;
    }

    .divi-mb {
        max-width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    .ft-175 {
        font-size: 1.75rem;
    }

    .fund-link-margin img {
        max-width: 56px;
    }
}

@media only screen and (max-width: 576px) {
    .kv_slogan .h2 {
        font-size: 1.45rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/********************************************************************************
您可能感興趣的其他主題 ↓↓↓↓↓
********************************************************************************/
.cardAD {
    /* border-top: 6px solid #6987B9; */
    position: relative;
}

.cardAD .cardBody {
    position: relative;
}

.cardAD .cardBody .cardContain {
    background-color: #6987B9;
    padding: 20px;
    color: white;
    margin: auto 15px;
    position: relative;
    top: -60px;
    cursor: pointer;
}

.cardAD .cardBody .cardContain .cardTitle {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
    color: white;
}

.cardAD .cardBody .cardContain .cardText {
    color: white;
}

.cardAD .cardBody .cardImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 300px;
}

.cardAD .cardBody .cardContain .cardTag {
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 6px;
    font-weight: 700;
}

.cardAD .cardBody .icon {
    display: block;
    width: 21px;
    height: auto;
    color: white;
    font-size: 14px;
    transition: right .3s ease;
}

.cardAD .cardBody a.btnAd {
    position: relative;
    display: inline-block;
    padding: .7rem 3rem;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    margin: 20px auto;
    cursor: pointer;
}
.cardAD .cardBody a.btnAd:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #6987B9;
}

.cardAD .cardBody.active .btnAd {
    padding: .7rem 4rem;
}

.cardAD .cardBody .btnAd span.icon {
    position: absolute;
    top: 13px;
    right: 11px;
}

/********************************************************************************
次要視覺 ↓↓↓↓↓
********************************************************************************/

.kv_border_sub {
    position: relative;
    background-color: rgba(105, 135, 185, 0.75);
 }

.border-left-sub,
.border-right-sub {
    position: absolute;
    width: 79px;
    height: 58px;
    transform: scale(0.6);
}

.border-left-sub {
    top: -25px;
    left: 0;
}

.border-right-sub {
    bottom: -25px;
    right: 0;
}

/********************************************************************************
media min-width:375x ↓↓↓↓↓
********************************************************************************/

@media (min-width:375px) {
    .kv_wrap .st02 .kv_slogan .title_2nd {
        font-size: 1rem;
    }

    svg.point {
        bottom: 30px;
        width: 47px;
    }

    .point-img {
        font-size: 1.6rem;
    }
}

/********************************************************************************
media min-width:576px ↓↓↓↓↓
********************************************************************************/

@media (min-width:576px) {
    .kv_wrap .runnerWrap .rightaniBlk img {
        width: 80%;
    }

    .kv_wrap .st02 .kv_slogan .title_2nd {
        font-size: 1.2rem;
    }

    .fund-content {
        padding: 12px;
    }

    .fund-link-margin br {
        display: none;
    }

    .gloabMap {
        transform: scale(0.9);
    }

    svg.point {
        bottom: 35px;
        width: 57px;
    }

    .point-img {
        font-size: 1.8rem;
    }

    .p-3 {
        padding: 1rem !important
    }

    .p-3 br {
        display: none;
    }

    br.breakDisable_576 {
        display: none;
    }
}

/********************************************************************************
media min-width:768px ↓↓↓↓↓
********************************************************************************/

@media (min-width:768px) {
    .kv_wrap .runnerWrap .rightaniBlk img {
        width: 70%;
    }

    .kv_wrap .st02 .kv_slogan .title_2nd div {
        display: block;
    }

    svg.point {
        bottom: 40px;
        width: 67px;
    }

    br.breakDisable_768 {
        display: none;
    }

    br.breakEnable_768 {
        display: block;
    }

    .kv_wrap .st02 .kv_slogan {
        padding: 1.8em 0;
        width: 790px;
    }

    .fund-content {
        padding: 12px 30px;
    }

    .fund-table::before {
        top: -20px;
        left: 20px;
    }
    .fund-table::after {
        right: 20px;
        bottom: -20px;
    }
    .cardAD {
        max-width: 640px;
        margin: auto;
    }
    .cardAD .cardBody .cardImage {
        height: 400px;
    }
    .cardAD .cardBody .cardContain {
        position: relative;
        top: -100px;
        color: white;
        padding: 2rem 4rem;
        margin: auto 40px;
    }
    .cardAD .cardBody .cardContain .cardTag {
        position: static;
        font-size: 16px;
    }
    .cardAD .cardBody .cardContain .cardTitle {
        font-size: 30px;
    }
    .cardAD .cardBody .cardContain .cardText {
        font-size: 14px;
        overflow: hidden;
    }
    .kv_border_sub {
        background-color: rgba(105, 135, 185, 0);
    }

    .border-left-sub {
        top: 0px;
        left: 0;
    }

    .border-right-sub {
        bottom: -8px;
        right: 0;
    }

}

/********************************************************************************
media min-width:992px ↓↓↓↓↓
********************************************************************************/

@media (min-width:992px) {
    .area {
        position: relative;
    }

    .area .areaRight {
        position: absolute;
        top: 50px;
        right: 6%;
        width: 40%;
    }

    .divi-none02 {
        display: none;
    }

    .fund-padding {
        padding: 2.1rem 4rem;
    }

    .secondAdvantage {
        text-align: center;
        justify-content: center
    }

    .kv_wrap .runnerWrap .rightaniBlk img {
        width: 67%;
    }

    .kv_wrap .st02 .kv_slogan .title_2nd div {
        font-size: 1.3rem;
        display: inline;
    }

    .kv_wrap .st02 .kv_slogan .title_2nd br {
        display: none;
    }

    .kv_wrap .st02 .kv_slogan .title_2nd br.b2 {
        display: block;
    }

    .nav-tabs .col-lg-3 {
        flex: 0 0 30%;
        max-width: 30%;
    }

    .gloabMap {
        transform: scale(1);
        left: 8%;
    }

    .advantage .advBtnblk .itemTitle div {
        display: inline-block;
    }

    .advantage .advBtnblk .itemTitle br {
        display: block;
    }

    .tableTitle {
        max-width: 770px;
    }

    br.breakDisable_992 {
        display: none;
    }
    .kv_wrap .st02 {
        overflow: visible;
    }
    ul.itemStyle1 li {
        font-size: 1.4rem;
        list-style-image: url(../images/add_icon4.png);
    }
    .border-left-sub,
    .border-right-sub {
        transform: scale(0.7);
    }

    .border-left-sub {
        top: 0px;
        left: -20px;
    }

    .border-right-sub {
        bottom: -15px;
        right: -20px;
    }

    .cardAD {
        max-width: 780px;
        margin: auto;
    }

    .cardAD .cardBody .cardContain {
        position: relative;
        color: white;
        padding: 2rem 4rem;
        margin: auto 40px;
    }

    .cardAD .cardBody .cardContain .cardTitle {
        font-size: 34px;
    }

}

/********************************************************************************
media min-width:1200px ↓↓↓↓↓
********************************************************************************/

@media (min-width:1200px) {
    .kv_wrap .runnerWrap .rightaniBlk img {
        width: auto;
    }

    .nav-tabs .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .pointTwoSubTitle {
        width: 100%;
        text-align: center;
    }

    .tableTitle {
        max-width: 100%;
    }

    .kv_wrap .st02 .kv_slogan .title_2nd div {
        font-size: 1.7rem;
    }
    .cardAD {
        max-width: 960px;
        margin: auto;
    }

}

/********************************************************************************
media min-width:1440px ↓↓↓↓↓
********************************************************************************/

@media only screen and (min-width: 1440px) {
    .fund-padding {
        padding: 2.1rem 8rem;
    }
}